<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/axios@1.6.7/dist/axios.min.js"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.css' integrity='sha512-U9Y1sGB3sLIpZm3ePcrKbXVhXlnQNcuwGQJ2WjPjnp6XHqVTdgIlbaDzJXJIAuCTp3y22t+nhI4B88F/5ldjFA==' crossorigin='anonymous'/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="./main/style.css">
  <title>PHP Dischi JSON</title>
</head>
<body>
  <div id="app">
    <div class="my_container">
      <div class="bg-black py-3 position-fixed w-100 z-3">
        <div class="container d-flex justify-content-between">
          <img class="logo" src="./data/img/spotify-logo.jpg" alt="">
          <!-- ---------------------- -->
          <img class="logo_scritta" src="./data/img/spotify-scritta.png" alt="">
          <!-- ---------------------- -->
          <button class="btn btn-outline-success fw-bold" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Add Song</button>
          <div class="offcanvas offcanvas-end bg_dark text-light w-25" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title text-success fw-bold fs-2" id="offcanvasRightLabel">Add Song</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body d-flex flex-column">
              <div>
                <span class="fs-4 fw-bold text-capitalize">Titolo</span>
                <div class="input-group mb-3">
                  <input v-model="newSong.title" type="text" class="form-control" aria-label="Sizing example input">
                </div>
              </div>
              <div>
                <span class="fs-4 fw-bold text-capitalize">Autore</span>
                <div class="input-group mb-3">
                  <input v-model="newSong.author" type="text" class="form-control" aria-label="Sizing example input">
                </div>
              </div>
              <div>
                <span class="fs-4 fw-bold text-capitalize">Anno</span>
                <div class="input-group mb-3">
                  <input v-model="newSong.year" type="text" class="form-control" aria-label="Sizing example input">
                </div>
              </div>
              <div>
                <span class="fs-4 fw-bold text-capitalize">Poster</span>
                <div class="input-group mb-3">
                  <input v-model="newSong.poster" type="text" class="form-control" aria-label="Sizing example input" placeholder="Link IMG (non obbligatorio)">
                </div>
              </div>
              <div>
                <span class="fs-4 fw-bold text-capitalize">Genere</span>
                <div class="input-group mb-3">
                  <input v-model="newSong.genre" type="text" class="form-control" aria-label="Sizing example input">
                </div>
              </div>
              <button @click.stop="addSong" class="btn btn-outline-success w-25 fw-bold mt-3">Add</button>
            </div>
          </div>
          <!-- ---------------------- -->
        </div>
      </div>
      <div class="container p_fixed">
        <div class="row py-4 justify-content-center">
          <div class="col col-10 d-flex justify-content-center flex-wrap">
            <div v-if="playList.length === 0" class="text-light fw-bold fs-2">Non ci sono canzoni nella PlayList</div>
            <div
            v-for="(song, i) in playList"
            :key="i"
            class="card position-relative mx-3 my-2 pt-3 px-3 bg-black text-light"
            style="width: 16rem;">
              <img v-if="!song.poster" src="https://static.vecteezy.com/ti/vettori-gratis/p3/4141669-nessuna-foto-o-immagine-vuota-icona-caricamento-immagini-o-mancante-immagine-segno-immagine-non-disponibile-o-immagine-in-arrivo-segno-semplice-natura-silhouette-in-frame-illustrazione-vettore-isolato-vettoriale.jpg" :alt="song.title">
              <img v-else :src="song.poster" class="card-img-top" :alt="song.title">
              <div class="card-body text-center ">
                <h5 class="fw-bold">{{ song.title }}</h5>
                <h6>{{ song.author }}</h6>
                <h6 class="fw-bold">{{ song.year }}</h6>
              </div>
              <i @click="removeSong(i)" class="fa-regular fs-4 fa-circle-xmark position-absolute x_position cursor_poinetr text-danger"></i>
              <i @click="like(i)" v-if="!song.like" class="fa-regular fs-4 fa-heart position-absolute heart_position cursor_poinetr"></i>
              <i @click="like(i)" v-else-if="song.like" class="fa-solid fs-4 fa-heart position-absolute heart_position cursor_poinetr text-success"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="./js/script.js"></script>
</body>
</html>